body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    background-image:url(fondo.jpg);
    
}

.container {
    width: 70%;
    margin: 30px auto;
    background: linear-gradient(to bottom right, #ff91c8, #f7f7f7);
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.container {
    background-color: #ffcccb; /* Fondo rosa */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
    font-size: 16px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(255, 105, 180, 0.6); /* Sombra rosa */
    transition: box-shadow 0.3s ease-in-out;
}

button:hover {
    box-shadow: 0 6px 12px rgba(255, 105, 180, 0.8); /* Sombra rosa más intensa al pasar el mouse */
}

#result {
    margin-top: 20px;
    font-size: 18px;
}

